  #mainNav {
    min-height: 45px;
    background-color: white !important;
  }
  
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: rgb(102,199,255);
  }

  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  .menu {
      align-content: left;
  }
  .container {
      margin-right: 100px;
      height: 10px;
      margin-left:100px;
  }
  .name {
      border-top: 10px solid rgb(191, 191,191);
  }
  .jumbo p {
      margin-top:15px; 
  }
  #mainNav .navbar-brand {
    color: rgb(102,199,255);
    font-weight: 700;
    padding: .9rem 0;
  }
  
  #mainNav .navbar-nav .nav-item:hover {
    /* color: fade(#FFEEF5, 80%); */
    outline: none;
    /* background-color: transparent; */
  }
  
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }

@media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      -webkit-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      padding: .5rem 0;
      color: rgb(102,199,255);
    }
    #mainNav .nav-link {
      -webkit-transition: none;
      transition: none;
      padding: 2rem 1.5rem;
      color: black;
    }
    #mainNav .nav-link:hover {
      color:  rgb(102,199,255);
    }
    #mainNav .nav-link:active {
      color: black;
    }
    #mainNav.navbar-shrink {
      background-color: black;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: rgb(102,199,255);
    }
    #mainNav.navbar-shrink .nav-link {
      color: rgb(102, 199,255);
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: rgb(102, 199,255);
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: rgb(102, 199,255);
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: rgb(102, 199,255);
      outline: none;
      border-bottom: 0.25rem solid rgb(102, 199,255);
    }
  }
  
.container1 h1 {
    font: Helvetica;
    font-weight: bold;
    font-size: 95pt;
    margin-top:200px;
    margin-bottom: 100px;
}
.container1{
    margin-left: 125px;
}
.container1 p {
    font: Helvetica;
    font-size: 27pt;
    font-weight:bold;
    color:rgb(102,199,255);
}
.about p {
    display: inline-block;
    font: Helvetica;
    font-size: 16pt;
    color:white;
}
.about h2 {
  font: Helvetica;
    font-weight: bold;
    font-size: 57pt;
    width: 100%;
    color:white;
}
.title {
  display:inline-block;
  vertical-align:middle;
  padding-right:2%;
  height:400px;
  margin-left:45px;
}
.para {
  display:inline-block;
  width:49%;
  margin-top: 20px;
}
.about {
  background: rgb(40,50,63);
  padding-bottom:10px;
  margin-bottom: 10px;
  height:325px;
}
.card1{
  width: 30%;
  padding: 2.5%;
  border:none;
  font-size:16pt;
}
.card1 p {
  font: helvetica;
  font-size:16px;
}
.card1 h5 {
  font: helvetica;
  font-weight: bold;
  color:rgb(102,199,255);
}
.card-body {
  padding: 0;
}

.influence{
  font-weight: bold;
  color:black;
}
.influence_name {
  border-top: 10px solid rgb(102,199,255);
  font-size: 14pt;
  font: Helvetica;
  font-weight:none;
  width:85%;
  color:black;
}
.container2 {
  margin-left: 15px;
  margin-top: 25px;
  background:rgb(40,50,63);
}
.container2 p{
  font-size:16px;
}
.container3 {
  margin-left: 125px;
  margin-top: 25px;
}
.volunteer {
  width: 25%;
  padding: 2.5%;
  border:none;
  margin-left:40px;
}

.card2{
  width: 30%;
  padding: 2.5%;
  border:none;
}
.card2 p {
  font: helvetica;
}
.card2 h5 {
  font: helvetica;
  font-weight: bold;
  color:rgb(102,199,255);
}
.greybar {
  height:5px;
  width:95%;
  float:right;
  background: grey;
}
.listitem{
  color:white;
  font-weight:normal;
}
.jumbo{
  padding-top:0px;
  background-color:white;
}
html { 
  height: 100%; 
}
body {
  min-height:100%;
}
.topmenu{
	display:flex;
}
.secondmenu{
	display:flex;
	margin-left:700px;
}
.about1{
	background:rgb(40,50,63);
}
.experience{
	background-color:rgb(40,50,63);
	height:525px;
	margin-bottom:0px;
	padding-bottom:10px;
	margin-top:20px;
}
.exptext{
  margin-left:100px;
  font-size:5pt !important;
}
.exptext p{
  font-size:12pt;
}
.para h5{
	font-weight:bold;
	color:rgb(102,199,255);
}
.para p{
	color:white;
}
.mine{
  vertical-align:baseline;
}
.title h2{
	color:white;
}
.proj{
	margin-bottom:0px;
}

.featured{
	display:flex;
}
.card-link{
	margin-left:90px;
}
.proj1{
  margin-left:70px;
}
.softwarebox{
	width:50%;
  display:inline-block;
}

.software{
	display:inline-block;
	padding-top:50px;
  width:32%;
  padding-left:0px;
  margin-left:0px;
}
.software ul{
	color:rgb(102,199,255);
	font-weight:bold;
	font-size:16px;
}
.skilljumbo{
	background:rgb(40,50,63);
	padding-bottom:1.5%;
}
.softwarebox2{
	width:49%;
	display:inline-block;
	margin-top:1.5%;
}
.research{
	display:inline-block;
	width:45%;
}
.research h5{
	color:rgb(102,199,255);
	font-weight:bold;
	font-size:18px;
}
.research h6{
	padding-top:15px;
	font-weight:bold;
	color:white;
	font-size:14px;
}
.skills{
	font-size:11pt;
	font-weight:none;
	margin-top:0px;
	color:white;
}
.design{
	padding-top:40px;
}
.design h6{
	padding-top:15px;
	font-weight:bold;
	color:white;
	font-size:14px;
}
.empty{
	color:rgb(40,50,63) !important;
	padding-top:10px;
	font-weight:bold;
}
.skill{
  font-weight:none;
	margin-top:0px;
  color:white;
  vertical-align:center;
}
.act{
  padding-left:100px;
}
.process{
	display:inline-block;
	width:45%;
}
.process ul{
	color:rgb(102,199,255);
	font-weight:bold;
	font-size:14px;
}
.other{
	background:white !important;
	padding-bottom:0px;
}
.involve{
  width:95%;
  background-color:white;
}
.involve h4{
	color:black;
}
.involve p{
	font-size:14pt;
	font-weight:none;
	width:85%;
	color:black;
}
.volun{
  width: 25%;
  padding: 2.5%;
  border:none;
}
.activities{
	display:flex;
}
.head_img{
	width:270px;
	height:auto;
}
.bottomdiv{
	background-color:rgb(40,50,63);
	display:flex;
	height:500px;
}
.thanks{
	width:45%;
	margin-top:225px;
	margin-left:150px;
}
.thank{
	color:white;
}
.thanks p{
	font-size:16pt;
	font-weight:none;
	width:75%;
}
.foot{
	height:95%;
	background:white;
	width:45%;
	margin-top:20px;
	margin-right:50px;
}
.contact h5{
	font-size:20pt;
}
.contact p{
	color:black;
	margin:2px;
	font-size:16px;
}
.online{
	font-size:20pt;
	margin-top:50px;
	border-top:2px solid rgb(191,191,191);
}
.para-link{
	color:black;
	margin:2px;
}
.featured a{
  text-decoration:none;
  color:black;
}