#mainNav {
    min-height: 45px;
    background-color: black;
  }
  
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: black;
  }

  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  .menu {
      align-content: left;
  }
  .container {
      margin-right: 100px;
      height: 10px;
      font: Helvetica;
  }
  .name {
      border-top: 10px solid rgb(191, 191,191);
  }
  .jumbo p {
      margin-top:15px; 
  }
  #mainNav .navbar-brand {
    color: rgb(102,199,255);
    font-weight: 700;
    padding: .9rem 0;
  }
  
  #mainNav .navbar-nav .nav-item:hover {
    /* color: fade(#FFEEF5, 80%); */
    outline: none;
    /* background-color: transparent; */
  }
  
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }

@media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      -webkit-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      padding: .5rem 0;
      color: rgb(102,199,255);
    }
    #mainNav .nav-link {
      -webkit-transition: none;
      transition: none;
      padding: 2rem 1.5rem;
      color: black;
    }
    #mainNav .nav-link:hover {
      color:  rgb(102,199,255);
    }
    #mainNav .nav-link:active {
      color: black;
    }
    #mainNav.navbar-shrink {
      background-color: black;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: rgb(102,199,255);
    }
    #mainNav.navbar-shrink .nav-link {
      color: rgb(102, 199,255);
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: rgb(102, 199,255);
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: rgb(102, 199,255);
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: rgb(102, 199,255);
      outline: none;
      font-weight:bold;
      font-size: 12pt;
    }
  }
nav a {
font: Helvetica;
padding: 0.5em 0.5em 0.5em 0.5em;
}
    
.sidemenu {
height: 100%;
position: fixed;
top: 950px;
left: 70px;
padding: 20px;
width: 200px;
background-color: rgb(40,50,63);
z-index: 10;
opacity:0;
}

.sidemenu-stick {
display: none;
height: 100%;
position: fixed;
top: 40px;
left: 50px;
padding: 20px;
width: 225px;
background-color: rgb(40,50,63);
}

.sidemenu h2 {
color: white;
}
.sidemenu a{
color:white;
font-size:20px;
}
.Content {
/* background: yellow; */
margin-top: 40px;
padding: 30px 30px;
padding-top: 2.5px;
height: 100%;
}

@media (min-width: 1290px) {
#sidemenu {
opacity:1 !important;
}
.Content {
/* background: yellow; */
margin-top: 40px;
margin-left: 150px;
padding: 30px 30px;
padding-top: 2.5px;
height: 100%;
}
}
.Content {
    /* background: yellow; */
    margin-top: 40px;
    padding: 30px 30px;
    padding-top: 2.5px;
    height: 100%;
  }
  
  .content-container {
     /* background: lightskyblue; */
      margin: 0 auto;
      max-width: 920px;
  }
  article {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  article{
    padding-top: 25px;
  }
  .about p {
    display: inline-block;
    font: Helvetica;
    font-size: 17pt;
    color:white;
}
.about h2 {
  font: Helvetica;
    font-weight: bold;
    font-size: 57pt;
    width: 100%;
    color:white;
}
.title {
  display:inline-block;
  vertical-align:middle;
  padding-right: 100px;
  height:400px;
  margin-left:45px;
}
.para {
  display:inline-block;
  width:50%;
  margin-top: 15px;
}
.about {
  background: rgb(40,50,63);
  padding-bottom:10px;
  margin-bottom: 10px;
  height:400px;
}  
.header {
    margin-left: 100px;
}
.img{
    margin-right:100px;
}

.listitem{
    color:white;
    font-weight:normal;
}
.about {
    background: rgb(40,50,63);
    padding-bottom:10px;
    margin-bottom: 10px;
    height:400px;
  }
  .title {
    display:inline-block;
    vertical-align:middle;
    padding-right: 100px;
    height:400px;
    margin-left:45px;
  }
  .card2{
    width: 30%;
    padding: 2.5%;
    border:none;
  }
  .card2 p {
    font: helvetica;
  }
  .card2 h5 {
    font: helvetica;
    font-weight: bold;
    color:rgb(102,199,255);
  }
  .para {
    display:inline-block;
    width:50%;
    margin-top: 15px;
  }
  .card-body {
    padding: 0;
  }
  .influence{
    font-weight: bold;
    color:white;
  }
  .influence_name {
      border-top: 10px solid rgb(102,199,255);
      font-size: 18pt;
      font: Helvetica;
      color:white;
  }
.research, .design, .test, .final, .deliver {
  margin-left: 350px;
 padding-bottom:50px;
  margin-right:100px;
}
.research h5 {
  font-size: 26px;
  padding-top:20px;
  Font: helvetica;
  color:rgb(102, 199,255);
  font-weight:bold;
  padding-bottom:15px;
}
.research p{
  font-size: 16px;
}
.design h5 {
  font-size: 26px;
  Font: helvetica;
  color:rgb(102, 199,255);
  font-weight:bold;
}
.design p{
  font-size: 16px;
}
.test h5 {
  font-size: 26px;
  Font: helvetica;
  color:rgb(102, 199,255);
  font-weight:bold;
}
.test p{
  font-size: 16px;
}
.deliver h5 {
  font-size: 26px;
  Font: helvetica;
  color:rgb(102, 199,255);
  font-weight:bold;
}
.deliver p{
  font-size: 16px;
}
.final h5 {
  font-size: 26px;
  Font: helvetica;
  color:rgb(102, 199,255);
  font-weight:bold;
}
.final p{
  font-size: 16px;
}
.links{
padding-left: 15%;  
}

h6{
  font-weight:bold;
  padding-top:25px;
  font-size: 18px;
}
body{
  height:100%;
}
.overviewtext{
	width:100%;
}
.overviewtext h1{
	padding-left:25px;
	padding-top:100px;
	font-weight:bold;
	color: white;
}
.overviewtext p {
	padding-left:25px;
	color:white;
}
#mainNav{
  background-color:white !important;
}
.container{
  margin-left: 100px;
}
.topmenu{
  display:flex;
}
.secondmenu{
  display:flex;
  margin-left:700px;
}
.overviewlist{
  background-color:rgb(40,50,63);
}
.mainimg {
	float:right;
	width:45%;
	background-color:rgb(40,50,63);
	padding-top:200px;
}
.mainimg img{
	width:100%;
	display:inline-block;
}
.asidemenu{
	z-index:-10 !important;
}
#Overviews, #Researchs, #Designs, #Delivers, #Finals{
	color:rgb(102,199,255);
}
#Ideations, #Users, #Flows, #Papers, #Lows, #Highs, #links{
	padding-left:15%;
	font-size:15px;
}
#footers{
  font-weight:bold;
}
.research img{
	height:auto;
}
.persona {
	width:43%;
	padding-bottom: 10px;
	padding-top:78px;
}
.journeymap{
	width:55%;
}
.userflow{
	height:275px;
	width:95%;
}
.paper{
	height:auto;
	width:33%;
}
.design p{
  margin-top:10px;
}
.deliverableimg{
	height:auto;
	width:85%;
	padding-left:8%;
}
.finallinks a{
  padding-right:15% !important;
}
.protolink{
	height:auto;
	width:33%;
	padding-bottom:10px;
	padding-right:15%;
}
.finallinks{
  padding-left:15%;
}
#footer{
	z-index:100;
}
.about{
	background-color:rgb(40,50,63);
	display:flex;
	height:600px;
}
.title{
	width:45%;
	margin-top:225px;
	margin-left:150px;
}
.title p{
	font-size:16pt;
	font-weight:none;
	width:75%;
}
.foot{
	height:95%;
	background:white;
	width:45%;
	margin-top:20px;
	margin-right:50px;
}
.name{
  font-size:20pt;
  border-top: 2px solid rgb(191,191,191);
  margin-top:5%;
}
.para{
	color:black !important;
	margin:2px;
}
.foots{
	font-size:20pt;
	margin-top:80px;
	border-top: 2px solid rgb(191,191,191);
}
.responsibilities{
  display:inline-block;
  width:45%;
  margin: 2.5px;
}
.responsibilities ul{
  color:rgb(102,199,255) !important;
  font-weight:bold;
  font-size:16px;
}
.scope{
  display:inline-block;
  width:45%;
  margin:2.5px;
}
.scope ul {
  color:rgb(102,199,255);
  font-weight:bold;
  font-size:16px;
} 
.masthead {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("img/amazon/amazon.png");
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.p_table img {
  padding: 5px;
  /* width:450px; */
  height: auto;
}
.tablep {
  background-color: #567da666;
  border: 1px solid black;
  padding: 2.5px;
}

